@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #1A1A29;
}
.container{
    max-width: 1416px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 394px;
}

/* Header*/

.header{
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 160px;
    padding-right: 160px;
    background-color: #181824;
    align-items: flex-start;
    
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    cursor: pointer;
}
#nav{
    display: flex;
    flex-direction: row;
    width: 450px;
    justify-content: space-between;
    align-items: center;
}
.nav{
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    cursor: pointer;
}
.nav_button{
    display: none;
    
}
.container_2{
    max-width: 1416px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
 
}
#cont_f_line{
    display: flex;
    flex-direction: row;
    gap: 160px;
}
#home_f_column{
    margin-top: 209px;
    margin-left: 136px;
}
.hello{
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}
.her h2{
    color: var(--light-colour, #F5F5F5);
    font-family: 'Poppins';
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: 78px;
    width: 475px;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    
}
.button{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 12px 34px;
    gap: 5px;
    border-radius: 8px;
    border: 2px solid var(--primary-colour, #7562E0);
    width: 160px;
    height: 48px;
    margin-top: 29px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
   
}
#eye{
    display: flex;
    justify-content: center;
    align-items: center;
}
#home_s_column{
    margin-top: 209px;
}
#about_me{
    gap: 6px;
    padding: 12px 25px;
    background: var(--primary-colour, #7562E0);
    border: none;
}
#home_s_column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 486px;
    height: 486px;
    flex-shrink: 0;
    border-radius: 486px;
    background: var(--primary-colour, #7562E0);

}
#photo{
    width: 444px;
    height: 444px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
}
#me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 415px;
    height: auto;
}
.line{
    justify-content: center;
    align-items: center;
    width: 5000px;
    height: 120px;
    flex-shrink: 0;
    background: #181824;
    margin-top: -120px;
    z-index: 1;
    position: absolute;
    overflow-x: hidden;
    
    
}

#about_f_line{
    margin-top: 55px;
    margin-left: 136px;
}
#about_f_line h2 span{
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
#about_f_line h2{
    width: 1032px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
}
#about_f_line_s_line{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 22px;
}
#about_f_line_s_line h2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
#years{
    display: flex;
    flex-direction: row;
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 144px;
}
#about_s_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 19px;
    margin-left: 136px;

}
.plate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 256px;
    height: 254px;
    flex-shrink: 0;
    background: var(--primary-colour, #7562E0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
    cursor: pointer;
}
.items{
    width: 42px;
    height: 42px;
}
#f_plate{
    row-gap: 14px;
}
#s_plate{
    row-gap: 8px;
}
.plate h3{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    
}
#s_plate h3{
    width: 171px;
    height: 72px;
}
#offer{
    display: flex;
    margin-top: 80px;
    margin-left: 136px;
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#services_block{
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: 32px;
    margin-left: 136px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 75px;
    align-items: center;
    text-align: center;
    row-gap: 11px;
    cursor: pointer;
    width: 341px;
    height: 338px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 3px solid var(--primary-colour, #7562E0);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
   
}
.items_2{
    width: 56px;
    height: 56px;
}
.card span{
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.card h3{
    color: var(--white, #FFF);
    text-align: center;
    font-family: 'Poppins';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 188.235% */
}
#featured span{
    display: flex;
    margin-top: 80px;
    margin-left: 136px;
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}
#featured h3{
    display: flex;
    margin-top: 16px;
    margin-left: 136px;
    width: 1027px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
}
.projects{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    margin-left: 138px;
    gap: 17px;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    text-align: center;
    width: 343px;
    height: 417px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #31313F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project span{
    padding-top: 16px;
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}
.project h3{
    padding-top: 5px;
    width: 303px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.button_2{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    width: 145px;
    height: 43px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
    flex-shrink: 0;
    display: flex;
    border-radius: 8px;
    background: var(--primary-colour, #7562E0);
}
.button_2 h5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 24px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 128px;
    margin-left: 136px;
    gap: 193px;
}
#contact_f_column h2{
    color: var(--primary-colour, #7562E0);
    font-family: 'Poppins';
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}
#contact_f_column h3{
    margin-top: 16px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
}
#social{
    margin-top: 24px;
    
}
.social{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.connect{
    width: 32px;
    height: 32px;
}

#contact_s_column h2{
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
#forms{
    margin-top: 24px;
    row-gap: 16px;
}
.forms_sf{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    width: 472px;
    height: 62px;
    flex-shrink: 0;border-radius: 8px;
    background: var(--light-colour, #F5F5F5);
}
#forms input{
    color: #000;
    font-family: 'Poppins';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
#forms_th{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    width: 472px;
    height: 98px;
    flex-shrink: 0;
    flex-shrink: 0;border-radius: 8px;
    background: var(--light-colour, #F5F5F5);
}
.button_3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 16px;
    width: 174px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #7562E0;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#footer_f_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 157px;
    margin-left: 136px;
    gap: 40px;
    color: var(--white, #FFF);
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}
#footer_s_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.sosial_2{
    gap: 30px;
}