@media(max-width:1416px){
    .container{
    max-width: 1416px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 800px;
    
    }
    /*
    .nav{
        display: none;
    }
    .nav_button{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
    }
    .navigation.open .nav{
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #181824;

    }
    */
    #cont_f_line{
        display: flex;
        flex-direction: column;
        gap: 160px;
        width: 100%;
    }
    #home_f_column{
        margin-top: 50px;
        margin-left: 136px;
        display: flex;
        flex-direction: column;
    }
    #home_s_column{
        margin-top: 109px;
    }
    #about_f_line{
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        margin-left: 136px;
    }
    #about_s_line{
        display: flex;
        flex-direction: column;
    }
    #services_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:760px){
   

    
}