@media(max-width:1416px){
    .container{
    max-width: 1416px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    gap: 800px;
    
    }
    .container_2{
        max-width: 1416px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
     
    }
    /*
    .nav{
        display: none;
    }
    .nav_button{
        display: block;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
    }
    .navigation.open .nav{
        display: flex;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #181824;

    }
    */
    .her h2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #cont_f_line{
        display: flex;
        flex-direction: column;
        align-items: center;
       
        width: 100%;
    }
    #home_f_column{
        margin-top: 50px;
       
        display: flex;
        flex-direction: column;
    }
    #home_s_column{
        margin-top: 109px;
    }
    #about_f_line{
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        
    }
    #about_s_line{
        display: flex;
        flex-direction: column;
    }
    #services_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #featured{
        display: flex;
        flex-direction: column;
    }
    .projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        row-gap: 50px;
        align-items: center;
    }
    #about_f_line h2{
        display: flex;
        width: 100%;
    }
    #featured h3{
        display: flex;
        margin-top: 16px;
        margin-left: 136px;
        width: 70vw;
        color: var(--white, #FFF);
        font-family: 'Poppins';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px; /* 177.778% */
    }
    .forms_sf{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        width: 50vw;
        height: 62px;
        flex-shrink: 0;border-radius: 8px;
        background: var(--light-colour, #F5F5F5);
    }
    
    #forms_th{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;
        width: 50vw;
        height: 98px;
        flex-shrink: 0;
        flex-shrink: 0;border-radius: 8px;
        background: var(--light-colour, #F5F5F5);
    }
    #footer_f_line{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 157px;
       
        gap: 20px;
        color: var(--white, #FFF);
        font-family: 'Poppins';
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        opacity: 0.5;
    }
}
@media screen and (min-width:760px){
   

    
}